*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0%, 0%, 13%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
    color: white;
  background: #202731;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
}

section {
  padding-block: 5rem;
}

.diagonal {
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  position: absolute;
  inset: 0; /*sets the left, right, top and bottom of position absolute */
  transform: skewY(var(--skew-angle));
  z-index: -1;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}

.spikes {
  position: relative;
  background: linear-gradient(to right, #fdc830, #f37335);
  color: black;
  --spike-color: rgb(255, 255, 255);
  --spike-width: 50px;
  --spike-height: 10px;
}

.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  -webkit-mask-image: url("assets/triangle.svg");
  mask-image: url("assets/triangle.svg");
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  mask-size: var(--spike-width) var(--spike-height);
}

.spikes::before {
  top: 0;
}

.spikes::after {
  bottom: 0;
  transform: rotate(0.5turn);
}

.wavy {
  /* mas made with https://css-generators.com/wavy-shapes/*/
  background: linear-gradient(#00f260, #0575e6);

  --mask: radial-gradient(55.9px at 50% 75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(55.9px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(55.9px at 50% calc(100% - 75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(55.9px at 50% calc(100% + 50px), #0000 99%, #000 101%) 50%
      calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

.blue {
  background: #3c31dd;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
  overflow: hidden;
}

.dark {
  background: #0f0f10;
}

/* Curved bg with plain CSS */

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

/* Bubble bg with plain CSS */

.bubble::after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
}

/* Curved bg with SVG via https://www.shapedivider.app/ */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 262px;
}

.wave .shape-fill {
  fill: hsl(240, 3%, 6%);
}

/* SVG background image via https://haikei.app/ */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("assets/layer1.svg");
}
.layer2 {
  background-image: url("assets/layer2.svg");
}

.flip {
  transform: rotate(180deg);
}

/* Blobs SVG background image via https://haikei.app/ */

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url("assets/blobs.svg") no-repeat bottom / cover;
}
